/* Importing other css files */
@import url(button.css);
@import url(gallery.css);
@import url(superheroes.css);

/* Core HTML elements */
html {
    font-size: 14px;
    font-family: 'Open Sans', 'Segoe UI', Calibri, Geneva, Verdana, sans-serif;
    /*background-color: #00539f;*/
    /*background-color: #000; */
}

body {
  margin: 0 auto;
  width: 75%;
  padding: 5px;
  border: 1px solid black;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*
  padding: 0 20px 20px 20px; 
  background-color: whitesmoke; */
  }

header {
    width: 100%;
    margin: auto;
    height: 120px;
    background-color: antiquewhite;
  }

  textarea {
    display: block;
    margin: 1rem 0;
  }

/* The CSS rule below is highly specific for an img element that is a child of the header element.
Typically there will be only one img element inside the header and therefore this is safe to keep */

header > img {
  align-self: center;
  padding-left: 10px;
}

nav ul {
  display: flex;
}

nav li {
  flex: 1;
}

/* Core HTML elements */

/* Link manipulation */
a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  background-color: gainsboro;
}

/* Text manipulation */
h1 {
    font-size: 3rem;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 1.8rem;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

/* Text manipulation */

/* Classes */

.round-img {
  border-radius: 50%;
}

.small {
  width: 100px;
}

.no-bullets {
  list-style: none;
}

.outer {
  border: 1px solid black;
  border-radius: 5px;
}

.box {
  padding: 10px;
  width: calc(90% - 30px);
  background-color: rebeccapurple;
  color: white;
}

.box-transform {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.8turn);
}

.flexi {
  display: flex;
}

.center-align {
  margin: auto;
}

.half-width {
  width: 50%;
  margin: 5px;
  padding: 12px;
}

.spaced {
  margin-left: 5px;
}

.padded {
  padding: 5px;
}

.calendar > li {
  display: block;
  float: left;
  width: 13%;
  border: 2px solid white;
  padding: 5px;
  height: 80px;
  background-color: skyblue;
  color: white;
}

.msgBox {
  width: 242px;
  background-color: chocolate;
}

.msgBox p{
  padding-left: 82px;
  background-position: 25px center;
  background-repeat: no-repeat;
}

.bballs {
  letter-spacing: -1px;
  position: relative;
  font-size: 2rem;
  margin: 0;
  top: -4px;
  right: 5px;
  
  text-shadow: 0 0 4px white;
}

.ball-counter {
  position: relative;
  margin: 0;
  top: 35px;
  left: 5px;
  color: #aaa;
}

/* Classes */

/* @ Rules  */
@media (max-width: 600px) {
  body {
    background-color: aliceblue
  }

  h1 {
    font-size: calc(3rem - 2vw);
  }

  h2 {
    font-size: calc(1.8rem - 0.5vw);
  }

  .small {
    width: calc(100px - 2vw);
  }
}
/* @ Rules */

/* Animated Alice CSS rules */
#alice-container {
  width: 90vh;
  display: grid;
  place-items: center;
  grid-template-areas:
    "a1 . ."
    ". a2 ."
    ". . a3";
}

#alice1 {
  grid-area: a1;
}

#alice2 {
  grid-area: a2;
}

#alice3 {
  grid-area: a3;
}
/* Animated Alice CSS rules */