/* Core HTML elements */
html {
    font-size: 14px;
    font-family: 'Open Sans', 'Segoe UI', Calibri, Geneva, Verdana, sans-serif;
    background-color: #00539f;
}

body {
  margin: 0 auto;
  background-color: #ff9500;
  width: 1200px;  
  padding: 0 20px 20px 20px;
  border: 3px solid black;
  }

  header {
    width: 900px;
    margin: auto;
    height: 100px;
    background-color: antiquewhite;
  }
  
/* Core HTML elements */

/* Link manipulation */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: limegreen
}

/* Text manipulation */
h1 {
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    border-bottom: 10px dotted purple;
}

h2 {
  text-align: center;
  font-size: 1.8em;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

/* Text manipulation */

/* Classes */

.round-img {
  border-radius: 50%;
}

.small {
  width: 100px;
  float: inline-start;
}

.no-bullets {
  list-style: none;
}

.outer {
  border: 5px solid black;
}

.box {
  padding: 10px;
  width: calc(90% - 30px);
  background-color: rebeccapurple;
  color: white;
}

.box-transform {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.8turn);
}

/* @ Rules */
@media (min-width: 30em) {
  body {
    background-color: yellow
  }
}
/* @ Rules */